
.bio{
  background-color: white;
}
.projects{
  background-color: #e6e6e6;
}
.research{
  background-color: #cccccc;
}
.publication{
  background-color: white;
  font-family:monospace;
}


.awards{
  background-color: #b3b3b3;
}
.media{
  background-color: #999999;
}
.more{
  background-color: white;
}

.card-block{
  padding: .5em .5em .5em;
}


.card{
  border: none;
  border-radius: 0;
}

.Stack{
  margin-top: 20px !important;
}
img{
  border-radius: 0!important;
}

h1.card-title{
  font-size: 4.5em;
  font-weight:bold;
}

h2.card-title{
  margin: 0;
}

h4.card-title{
  margin: 0;
}
.btn-primary {
  background-color: black;
  border:none;
  color: #FFF;
  border-radius: 30px;
}
.btn-primary:hover{
  background-color: #40E0D0;
  color: #FFF;
}
.more{
  background:rgba(0,0,0,0);
}
