

.App{ margin-bottom: 50px;}
.card{
  box-shadow: 0 3px 13px 1px rgba(0,0,0,0.12);
}
.buttons{
  max-width: 38em;
  color:rgb(141, 141, 141);
  margin-top: 2em;
}

.badge{
  margin-bottom: 1em;
}
/*  background: url('https://images.unsplash.com/photo-1499914567823-c240485cb7d1?auto=format&fit=crop&w=750&q=80') no-repeat center center fixed;*/

.holder{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8b195+0,f67280+37,f67280+37,c06084+69,6c5b7b+95,355c7d+100 */
  background: #f8b195; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f8b195 0%, #f67280 37%, #f67280 37%, #c06084 69%, #6c5b7b 95%, #355c7d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f8b195 0%,#f67280 37%,#f67280 37%,#c06084 69%,#6c5b7b 95%,#355c7d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(100deg, #f8b195 0%,#f67280 37%,#f67280 37%,#c06084 69%,#6c5b7b 95%,#355c7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b195', endColorstr='#355c7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient *
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/
 z-index:-100;
}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}
.cover{
   top: 5%;
   padding-top: 20px;
   padding-bottom: 20px;
}

.card-block{
  padding: .7em .7em .7em;
}

.card{
  border: none;
  border-radius: 0;
}

.Stack{
  margin-top: 20px !important;
}

img{
  border-radius: 0!important;
}

h1.card-title{
  font-size: 4.5em;
  font-weight:bold;
}

.btn-primary {
  border-width: 2px !important;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  background-color: white;
  color: rgb(141, 141, 141) !important;
  border-radius: 30px;
  margin: .5em .5em .5em;
}
.btn-primary:hover{
  background-color: #404040;
  color: white !important;
  border-color:	#404040 !important;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
.btn-primary:active{
  background-color: #404040 !important;
  border-color:	#404040 !important;
}
.more{
  background:rgba(0,0,0,0);
}
.card-block .btn{
  margin: 0;
}

span.projects{
  background-color:#f8b195;
}
a.projects{
  border-color:#f8b195 !important;
}
span.research{
  background:#F67280;
}
a.research{
  border-color:#F67280 !important;
}
span.publications{
  background:#C06084;
}
a.publications{
  border-color:#C06084 !important;
}
span.awards{
  background:#6C5B7B;
}
a.awards{
  border-color:#6C5B7B !important;
}
span.media{
  background:#355C7D;
  display: inline-block;
}
a.media{
  border-color:#355C7D !important;
  display: inline-block;
}
a.all{
  border-color:	#808080 !important;
}



@media (min-width: 576px) {
  .buttons-image .border {
  }
 }


@media (min-width: 768px) {
  .buttons-image .border {
  }


 }


@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
