

.App{ margin-bottom: 50px;}
.card{
  box-shadow: 0 3px 13px 1px rgba(0,0,0,0.12);
}
.buttons{
  max-width: 38em;
  color:rgb(141, 141, 141);
  margin-top: 2em;
}

.badge{
  margin-bottom: 1em;
}

.image-limit{
  width:300px;
  height:100px;
}

.headshot{
  width:500px;
  position:absolute;
  margin-left:-100px;
  margin-top:-316px;
  z-index: 0;
}

.holder{
  height:700px;
  z-index: -1;
}

.headshot-text{
  position:absolute;
  z-index: 1;
}

.bio{
  position:relative;
  width:300px;
  height: 400px;
  color:white;
  left: 50%;
  margin-left:-150px;
  padding-top: 275px;
  padding-bottom:50px;
}

.card-text{
  text-align: justify;
}
.holder{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8b195+0,f67280+37,f67280+37,c06084+69,6c5b7b+95,355c7d+100 */
  background: #f8b195; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f8b195 0%, #f67280 37%, #c06084 69%, #6c5b7b 95%, #355c7d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f8b195 0%, #f67280 37%,#c06084 69%,#6c5b7b 95%,#355c7d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(100deg, rgba(248, 177, 149, .6) 0%,rgb(246, 114, 128, .6) 37%,rgba(192, 96, 132, .6) 69%,rgba(108, 91, 123, .6) 95%,rgba(53, 92, 125, .6) 100%), url("https://images.unsplash.com/photo-1507484964334-b6f38e7d0921?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dce7fce9eb7cf1e0400e5430bf34c7e&auto=format&fit=crop&w=1500&q=80"); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b195', endColorstr='#355c7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-100;
}
.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}


.card-block{
  padding: .7em .7em .7em;
}

.card{
  border: none;
  border-radius: 0;
}

.Stack{
  margin-top: 20px !important;
}

img{
  border-radius: 0!important;
}

h1.card-title{
  font-size: 4.5em;
  font-weight:bold;
}

.btn-primary {
  border-width: 2px !important;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  background-color: white;
  color: rgb(141, 141, 141) !important;
  border-radius: 30px;
  margin: .5em .5em .5em;
}
.btn-primary:hover{
  background-color: #404040;
  color: white !important;
  border-color:	#404040 !important;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}
.btn-primary:active{
  background-color: #404040 !important;
  border-color:	#404040 !important;
}
.more{
  background:rgba(0,0,0,0);
}
.card-block .btn{
  margin: 0;
}

span.projects{
  background-color:#f8b195;
}
a.projects{
  border-color:#f8b195 !important;
}
span.research{
  background:#F67280;
}
a.research{
  border-color:#F67280 !important;
}
span.publications{
  background:#C06084;
}
a.publications{
  border-color:#C06084 !important;
}
span.awards{
  background:#6C5B7B;
}
a.awards{
  border-color:#6C5B7B !important;
}
span.media{
  background:#355C7D;
  display: inline-block;
}
a.media{
  border-color:#355C7D !important;
  display: inline-block;
}
a.all{
  border-color:	#808080 !important;
}
.modal-body p{
  text-align: justify;
}


@media (min-width: 576px) {
  .buttons-image .border {
  }
 }


@media (min-width: 768px) {
  .buttons-image .border {
  }


 }


@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
